@{
    ViewData["Title"] = "Movie submitted";
}
@model Joel_Hilton_Film_Collection.Models.EnterMovies

<h2> Thanks for submitting the movie @Model.Title . We are very grateful to have expanded our collection!</h2>
